mark {
    text-decoration: none;
    background-color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

header {
    width: 1280px;
    height: 323px;
    background-color: #445162;
    margin: 0 auto;
}

.pr_name {
    height: 223px;
    float: left;
    margin: 50px 0 50px 50px;
}

.pr_name h1 {
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.pr_name ul {
    list-style-image: url(../img/check%20icon.png);
    padding: 30px 0 0 50px;
}

.pr_name ul li {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/*header .white {
    width: 469px;
    height: 223px;
    background-color: white;
    float: right;
    margin: 50px 50px 0 0;
}*/

header .video1 {
    position: relative;
    width: 469px;
    height: 223px;
    float: right;
    margin: 50px 50px 0 0;
}

header.video1 video {
    position: absolute;
    top: 0;
    left: 0;
}

.about {
    height: 345px;
    width: 1280px;
    margin: 0 auto;

}

.about article {
    float: left;
    margin: 50px 0px 0px 50px;
}

.about article h3 {
    margin: 0 0 0 0;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding: 0 0 10px 0;
}

.about article p {
    height: 64px;
    width: 649px;
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 20px 0 0 0;
}

.about .black {
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin: 50px 50px 0px 0px;
}

.dignity {
    height: 417px;
    width: 1280px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding-top: 1px;
}

.dignity h3 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 50px 0 0 0;
}


.dignity ul {
    list-style-type: none;
    padding: 30px 0 0 50px;
}

.dignity ul li:before {
    content: url(../img/plus%20icon.png);
    float: left;
}

.dignity ul p {
    margin-left: 36px;
    margin-top: -5px
}

.dignity ul li {
    float: left;
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 526px;
    height: 63px;
    padding: 0px 70px 50px 0px;
}

.scrinshots {
    margin: 0 auto;
    width: 1280px;
    height: 387px;
    padding: 50px;
}

.scrinshots figcaption {
    float: right;
}

.scrinshots h3 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.scrinshots ul {
    list-style-type: none;
}



.reviews {
    width: 1280px;
    height: 424px;
    background-color: #f5f5f5;
    margin: 0 auto;
}

.buyitnow {
    width: 1280px;
    height: 656px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.buyitnow h3 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding: 50px 0 0 0;
    align-self: flex-start;
}

.buyitnow .price {
    width: 294px;
    height: 71px;
    background-color: white;
    position: absolute;
}

.buyitnow .price p {
    font-family: Arial;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 18px 107px;
}

.buyitnow .standart {
    width: 296px;
    height: 302px;
    background-color: #425062;
    position: relative;
    border: 2px solid #425062;
    border-radius: 5px;
}

.buyitnow .standart h5 {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 17px 103px;
}

.buyitnow .premium {
    width: 296px;
    height: 400px;
    background-color: #425062;
    position: relative;
    border: 2px solid #425062;
    border-radius: 5px;
}

.buyitnow .premium h5 {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 17px 103px;
}

.buyitnow .lux {
    width: 296px;
    height: 495px;
    background-color: #425062;
    position: relative;
    border: 2px solid #425062;
    border-radius: 5px;
}

.buyitnow .lux h5 {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 17px 103px;
}

.buyitnow ol {
    list-style-type: decimal;
    margin: 100px 0 0 40px;
}

.buyitnow li {
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.buyitnow button {
    width: 260px;
    height: 40px;
    border-radius: 10px;
    margin: 15px;
    font-family: Arial;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.contacts {
    width: 1280px;
    height: 509px;
    background-color: #445162;
    margin: 0 auto;
    padding-top: 50px;
}

.contacts fieldset {
    margin: 0 auto;
    width: 900px;
    height: 409px;
    border: 2px solid white;
    position: relative;
}

.contacts fieldset legend {
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.contacts fieldset input {
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin: 20px 0 0 50px;
    width: 500px;
    border-radius: 5px;
}

.contacts fieldset input:placeholder {
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contacts fieldset textarea {
    margin: 20px 0 0 50px;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    width: 500px;
    border-radius: 5px;
}

.contacts fieldset textarea:placeholder {
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contacts fieldset input[type="submit"] {
    width: 140px;
    height: 40px;
    margin-left: 240px;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.contacts fieldset .right_col {
    float: right;
    position: absolute;
    top: 50px;
    left: 600px;
    right: 50px;
    bottom: 100px;
}

.contacts fieldset .right_col select {
    margin: 20px;
}

.contacts fieldset .right_col label {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.contacts fieldset .right_col p {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}